.dashboard-main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

}
.dashboard-main {
    background-color: #D6DBEA;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;

}

.announcements-title {
    margin-left: 4vw;
  font-family: "Segoe UI", Arial;
  color: #000000;
  font-weight: bold;
  margin-top: 60px;
}

.dashboard-left-div {
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 25px;
  float: left;
}
.dashboard-pinned-container {
  max-width: 100%;
  border-radius: 30px;
}
.dashboard-create-container {
  max-width: 100%;
  min-height: 40px;
  border-radius: 30px;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
}
.dashboard-create-container-transition {
  width: 100%;
  position: relative;
}

.dashboard-create-container-transition.slide-in {
transform: translateX(0%);
}

.dashboard-create-container-transition.slide-out {
transform: translateX(100%);
}

.dashboard-create-button{
width: 100%; /* Starting width to allow the transition to take effect */
}
.dashboard-post-container {
  margin-left: 4vw;
  max-width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.dashboard-right-div {
  width: 25%;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 50px;
  float: right;
}
.dashboard-upcoming-container {
  max-width: 100%;
  border-radius: 30px;
}
.dashboard-chatbox-container{
  max-width: 100%;
}
