
.body-resmem {
  zoom: 80%;
}

.body-resmem p {
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI";
  margin: 0px 0;
}

.profile-resmem {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-button-resmem {
  background: none;
  border: none;
}

.acc-parentNav-resmem {
  display: none;
  position: absolute;
  top: 120px;
  right: 80px;
  background-color: #d6dbea;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  z-index: 1;
  border-radius: 20px;
  padding: 15px;
}
.acc-parentNav-resmem a {
  color: #132b41;
  padding: 10px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.acc-parentNav-resmem a:hover {
  background-color: #e1e5f2;
  border-radius: 10px;
}
.acc-parentNav-resmem.hidden {
  display: none;
}

.acc-parentNav-resmem.visible {
  display: block;
}

.acc-show-resmem {
  display: block;
}

.body-resmem h1 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 23px;
  color: #1e1e1e;
}
.logo-resmem {
  height: 100px;
}
.logoname-resmem {
  display: flex;
  align-items: center;
}



.parentNav-resmem {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #132b41;
  overflow: auto;
  gap: 1rem;
}
.acc-parentNav-resmem {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #d6dbea;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  z-index: 1;
  border-radius: 20px;
  padding: 15px;
}

.acc-parentNav-resmem a {
  color: #132b41;
  padding: 10px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.acc-parentNav-resmem a:hover {
  background-color: #e1e5f2;
  border-radius: 10px;
}
.acc-show-resmem {
  display: block;
}

.navi-resmem {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Segoe UI";
  padding: 15px;
  padding-right: 0;
}

.navActive-resmem {
  background-color: #00a3f0;
  padding: 10px 15px;
  border-radius: 20px;
}

.navButtons-resmem {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 60px;
  text-decoration: none;
  align-items: center;
  /* flex-wrap: wrap; */
}

.navButtons-resmem li {
  display: inline;
  /* flex: 1 1 auto; */
}

.navButtons-resmem a {
  text-decoration: none;
  color: white;
}

.button-resmem {
  transition: all 0.3s ease;
}
.button-resmem.active {
  background-color: #00a3f0;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.button-resmem:hover {
  background-color: #3c9ecc6b;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.resmem-logo {
  width: 70px;
}
