.trainee-page{
    background: #d6dbea;  
    min-height: 100vh;
}

.trainee-main-bg-size{
    background: #d6dbea;  
    height: 70vh; 
}

.trainee-main{
    background: #132b41; 
    /* width: 100vw; */
    height: 100%; 
    border-radius: 50px;
    display: flex;
    justify-content: center; 
    visibility: hidden;
}

.slideDown {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible !important;
}
  
@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(8%);
    }
    65% {
      transform: translateY(-4%);
    }
    80% {
      transform: translateY(4%);
    }
    95% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    }
}


.trainee-main-bg{
    font-family: "Segoe UI";
    background: #132b41; 
    padding: 20px;
    animation: slideDown 1s ease-in-out;
}

.trainee-top-picks{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 90vw;          
    height: 60vh;
}

.trainee-top-components{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.trainee-top-text{
    display: flex;
    justify-content: center; 
    font-family: 'Nirmala UI';
    font-size: 30px;
    margin-top: 2%;
    color: #ffffff;
}

.other-trainees-container{
    margin: 3%;
    visibility: hidden;
}

.other-trainees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    gap: 5%;
}

.trainee-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f5ff;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #132b41;
}

.trainee-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures the content is spread out */
  align-items: center;
  background-color: #f2f5ff;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #132b41;
}


.selected-profile{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

