.chat-container {
  position: fixed;
  border-radius: 20px;
  bottom: 0;
  width: 22.5%;
  z-index: 1000;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
}

.chat-bar {
  font-size: 20px;
  align-items: center;
  background-color: #132b41;
  font-family: "Segoe UI", Arial;
  font-weight: 350;
  color:  #F2F5FF;
  padding: 20px;
  text-align: left;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
}

.chat-box {
  font-family: "Segoe UI";
  background-color: #F2F5FF;
  border: 1px solid #ccc;
  border-top: none;
  height: 370px;
  padding: 10px;
}

.chat-icon {
  transform: translate(-20%, 20%);
  width: 25px;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.input-chatbox-send {
  display: flex;
  flex-direction: row;
}

.send-chat {
  width: 80%;
  margin-right: 10px;
  border: 0.3px solid #132b413e;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #d6dbea50;
}

.send-button {
    cursor: pointer;
  outline: none;
  border: none;
  background-color: #132b41;
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: ease-in-out 0.1s;
}

.send-button:hover {
    transform: scale(1.05);
}
.user-count {
    font-family: "Segoe UI", Arial;
    font-size: 12px;
    color: gray;
    margin-left: 10px;
    margin-top: 2px;
}
