.pinnedContainer {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
  }
  
  .pinnedHeader {
    max-width: 100%;
    align-items: center;
    display: flex;
    color: #ffffff;
    background-color: #132b41;
    font-family: 'Segoe UI', Arial;
    font-size: 20px;
    font-weight: 700;
    padding-left: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .pinnedPost {
    width: 100%;
    height: 100%;
    background-color: #F2F5FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .pfp {
    border: 1.5px solid #132B41;
    border-radius: 20px;
  
    width: 60px;
    height: 60px;
  
    border-radius: 50%;
    object-fit: cover;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin: 10px;
  }