.dashboard-upcomingContainer {
    min-height: 250px;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 30px;
  }
  
  .dashboard-upcomingHeader {
    max-width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    color: #f2f5ff;
    background-color: #132b41;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: 700;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  .dashboard-upcomingContent {
    padding-top: 5px;
    max-width: fit-content;
    margin-left: 30px;
    margin-right: auto;
    font-family: 'Arial';
    font-size: 15px;
  }
  
  .dashboard-taskName {
    margin-top: 0px;
    font-size: 15px;
  }

  .dashboard-taskDate {
    margin-top: 15px;
    font-weight: 100;
    font-size: 13px;
  }
  