.login-page {
    font-family: 'Segoe UI';
    color: #FFFFFF;
}

.login-main-content{
    
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: absolute;    
    top: 50%;              
    left: 50%;             
    transform: translate(-50%, -50%);
}
.contact-login-page {
    align-items: center;
    position: absolute;
    bottom: -20%;
    display: flex;
    right: 10%;
}

.contact-login-page img {
    size: 30px;
    padding: 20px;
    transition: transform 0.1s ease, filter 0.3s ease;
}

.contact-login-page a:hover img {
    transform: scale(1.5);
    filter: brightness(1.2);
}

.logo-login-page {
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 4px 4px rgba(19, 43, 65, 0.16));
    padding: 10px;
}

.logo-text-container {
    margin-right: 100px;
}


.text-login-page {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.text-login-page h1 {
    font-weight: 700;
    font-size: 400%;
    margin-top: -8%;
}

.text-login-page p {
    font-size: 100%;
    margin-top: -25%;
}

.container-login-page {
    transform: translate(-50%, -50%);
    color: #132B41;
    box-shadow: 0px 4px 10px 3px rgba(19, 43, 65, 0.1);
    align-items: center;
    text-align: center;
    
}

.card-login-page {
    position:relative;
    text-align: center;
    padding: 60px 120px 40px 120px;
    background-color: #F2F5FF;
    border-radius: 20px;
    color: black;
}

.card-login-page h1 {
    font-size: 210%;
}

.card-login-page a {
    color: black;
}

#email-login-page,  #password-login-page {
    width: 80%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #00A3F0;
    padding: 6px;
    margin-bottom: 15px;
    color: black
}

#submit-btn-login-page {
    border-radius: 60px;
    padding: 20px 60px;
    background-color: #00A3F0;
    color: white;
    margin-top: 30px;
    font-weight: 700;
    font-size: 120%;
    border: none;
    outline: none;
    transition: transform 0.1s ease, filter 0.3s ease;
    box-shadow: 0 4px 3px rgba(0, 163, 240, 0.2);
}

#submit-btn:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.rectangle-login-page {
    width: 100%;
    height: 15%;
    top: 0;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-image: linear-gradient(90deg, #132B41 0%, #00A3F0 100%);
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.error-login-page {
    color: red;
}
